.git
.github
.gitignore
.env
.env.docker
.env.docker.example
README.md
docker-compose.yml
Dockerfile
.DS_Store
.vscode
.idea
*.log
writable/cache/*
writable/logs/*
writable/session/*
writable/debugbar/*
writable/uploads/exports/*
!writable/cache/index.html
!writable/logs/index.html
!writable/session/index.html
!writable/debugbar/index.html
vendor/
node_modules/
tests/
build/
.phpunit.cache
coverage.xml
*.md
